name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /var/www/getaigovernance
            sudo git fetch --all
            sudo git reset --hard origin/main
            sudo composer install --no-interaction --prefer-dist --optimize-autoloader
            sudo npm install
            sudo npm run build
            sudo php artisan migrate --force
            sudo php artisan config:clear
            sudo php artisan cache:clear
            sudo php artisan view:clear
            sudo chown -R www-data:www-data /var/www/getaigovernance
            sudo chmod -R 777 /var/www/getaigovernance
            sudo systemctl restart nginx
            sudo systemctl restart php8.3-fpm
